<div class="row">
  <div class="col-md-8">

    <h1>Editing Price Observation</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @price_observation %> |
    <%= link_to 'Back', price_observations_path %>

  </div>
</div>