<h1>New Price Observation</h1>

<div class="contain-this">

  <div class="half-sized">
    <%= render 'form' %>
  </div>

  <div class="half-sized">
  <p> wtf </p>
  </div>

  <%= link_to 'Back', price_observations_path %>
</div>