<div class="row">
  <div class="col-md-8">

    <h1>Editing Store Banner</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @store_banner %> |
    <%= link_to 'Back', store_banners_path %>
  </div>
</div>
