<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store_banner.name %>
</p>

<%= link_to 'Edit', edit_store_banner_path(@store_banner) %> |
<%= link_to 'Back', store_banners_path %>
